@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Homepage.cshtml";
}

<div class="p-3 bg-light">
    <div class="container">
        <h2 class="text-center p-3">List Of Books</h2>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service h-100">
                        <span class="wrap-icon">
                            <img src="~/uploads/@product.Image" width="100px" alt="">
                        </span>
                        <h3>@product.Name</h3>
                        <p>@product.Price.ToString("C")</p>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@product.Id"><i class="fas fa-info-circle"></i></a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>